html,
body {
  height: 100%;
}

.container {
  max-width: 780px;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */

a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: "\e151";
}

a.desc:after {
  content: "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view td {
  white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
  min-width: 50px;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

#top-navbar {
  min-height: 61px;
}

#top-bar-logo {
  display: block;
  text-align: center;
  padding-top: 5px;
}

/* align the logout "link" (button in form) of the navbar */

.nav li > form > button.logout {
  padding: 15px;
  border: none;
}

.login-box h4 {
  text-align: center;
}

.has-feedback .form-control {
  padding-left: 42.5px;
}

.form-control-feedback {
  left: 15px;
  color: #e4e4e4;
}

.form-inline .has-feedback .form-control-feedback {
  top: 10px;
}

.row.has-feedback {
  min-height: 51px;
  margin-top: 5px;
}

.light-blue .input {
  border-left: 2px solid #82cdff;
}

.blue .input {
  border-left: 2px solid #0088e4;
}

.login-box input {
  max-height: 31px;
  margin-top: 10px;
  min-width: 295px;
}

.login-box .col-label > label {
  float: right;
  margin-top: 15px;
  color: #666666;
  font-size: 18px;
  font-family: Arial;
}

.log-btn {
  min-width: 165px;
  background-color: #0099ff;
  margin-left: -8px;
  min-height: 40px;
  border: 0;
}

.proposal {
  margin-top: 75px;
}

.p-img {
  float: left;
  display: inline-block;
  height: 360px;
  margin-right: 10px;
}

.p-title {
  font-size: 24px;
  color: #0099ff;
}

.p-text ul {
  list-style-image: url("../images/p-arrow.png");
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
}

.nav > li > form > button.logout:focus {
  outline: none;
}

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}